#homeLogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding: 10px 10px 150px 10px;
  z-index: 0;
}
#StartButt{
  background-image: url("../img/placeholder/buttons/FishButtonStart.png");
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
  border-style: none;

  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;

  height: 100px;
  width: 100px;
  z-index: 0;
}
