/*NAVIGATION MENU*/
.littleLogo{
  display: block;
  position: fixed;
  top: 0;
  margin: 3px 0px 0px 15px;
  width: 7%;
  z-index: 0;
}
#navBar{
  z-index: -1;
  overflow: hidden;
  background-color: cadetBlue;
  top: 0;
  width: 99%;
  border: solid 3px darkcyan;
  margin: 10px 5px 5px 5px;
  border-radius: 5px;
}
.navButtDM{
  background-image: url("../img/placeholder/buttons/FishButtonDM.png");
}
.navButMat{
  background-image: url("../img/placeholder/buttons/FishButtonMatches.png");
}
.navButLis{
    background-image: url("../img/placeholder/buttons/fishButtonList.png");
}
.navButCre{
  background-image: url("../img/placeholder/buttons/fishButtonCredit.png");
}
#navBar input{
  float: right;
  display: block;
  color: black;
  font-size: 125%;
  margin: 10px 20px 10px 20px;
  text-align: left;
  text-decoration: none;
  border-style: none;

  background-color: cadetBlue;
  background-size: contain;
  background-repeat: no-repeat;
  height: 70px;
  width: 100px;
}



/*BOX ID*/
.profiles{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*SWIPPING BUTTONS*/
.next{
  background-image: url("../img/placeholder/buttons/Next.png");
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;

  height: 100px;
  width: 100px;
  float: right;
  margin: 300px 10px 300px 10px;
}
.death{
  background-image: url("../img/placeholder/buttons/Death.png");
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;

  height: 100px;
  width: 100px;
  float: left;
  margin: 300px 10px 300px 10px;
}
/*PROFILES*/
