/*---------------------------NAVICATION MENU----------------------------------*/
.littleLogo{
  display: block;
  position: fixed;
  top: 0;
  margin: 3px 0px 0px 15px;
  width: 7%;
  z-index: 0;
}
#navBar{
  z-index: -1;
  overflow: hidden;
  background-color: cadetBlue;
  top: 0;
  width: 99%;
  border: solid 3px darkcyan;
  margin: 10px 5px 5px 5px;
  border-radius: 5px;
}
.navButtDM{
  background-image: url("../img/placeholder/buttons/FishButtonDM.png");
}
.navButMat{
  background-image: url("../img/placeholder/buttons/fishButtonMatches.png");
}
.navButLis{
    background-image: url("../img/placeholder/buttons/fishButtonList.png");
}
.navButCre{
  background-image: url("../img/placeholder/buttons/fishButtonCredit.png");
}
/*-------------------HOVERING NAV BUTTONS-------------------------------------*/
.hoverDm{
  background-image: url("../img/official/buttons/HoverDm.png");
}
.hoverMat{
  background-image: url("../img/official/buttons/HoverMatches.png");
}
.hoverList{
  background-image: url("../img/official/buttons/HoverList.png");
}
.hoverCredit{
  background-image: url("../img/official/buttons/HoverCredits.png");
}
/*----------------------------------------------------------------------------*/
#navBar input{
  float: right;
  display: block;
  color: black;
  font-size: 125%;
  margin: 10px 20px 10px 20px;
  text-align: left;
  text-decoration: none;
  border-style: none;

  background-color: cadetBlue;
  background-size: contain;
  background-repeat: no-repeat;
  height: 70px;
  width: 100px;
}
/*----------------------------FISH CARD OUTPUT BOX----------------------------*/
#output{
  border: solid 5px aquamarine;
  border-radius: 10px;
  margin: 75px 400px 75px 400px;
  background-color: lightSeaGreen;
}
.fishImage{
  top: 0px;
  width: 350px;
  height: 350px;
  border: solid 10px aquamarine;
  border-radius: 10px;
  margin: 10px 5px 10px 5px;
}
.name{
  top: 0px;
  width: 350px;
  height: 50px;
  border: solid 3px aquamarine;
  border-radius: 10px;
  margin: 5px 5px 5px 5px;
  padding: 10px;

  font-size: 135%;
  color: MidnightBlue;
  font-family: "Trirong", serif;
  text-align: center;
}
.fishInfo{
  top: 0px;
  width: 350px;
  height: 200px;
  border: solid 3px aquamarine;
  border-radius: 10px;
  margin: 10px 5px 10px 5px;
  padding: 10px;

  font-size: 135%;
  color: MidnightBlue;
  font-family: "Trirong", serif;
}
.fishBio{
  top: 0px;
  width: 685px;
  height: 625px;
  border: solid 3px aquamarine;
  border-radius: 10px;
  margin: 10px 5px 10px 5px;
  padding: 10px;
  float: right;

  font-size: 135%;
  color: MidnightBlue;
  font-family: "Trirong", serif;
}
/*-----------------------------SWIPPING BUTTONS-------------------------------*/
#nextButt{
  background-image: url("../img/official/buttons/fishHeart.png");
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;

  height: 100px;
  width: 100px;
  float: right;
  margin: -400px 10px 0px 10px;
}
.nextButtTwo{
  filter: hue-rotate(180deg);
  filter: saturate(6);
}
#deathButt{
  background-image: url("../img/official/buttons/fishBones.png");
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;

  height: 100px;
  width: 100px;
  float: left;
  margin: -400px 10px 0px 10px;
}
.deathButtTwo{
  filter: hue-rotate(180deg);
  filter: saturate(5);
}
/*-----------------------------ANIMATION--------------------------------------*/
.w3-container.w3-animate-right{
  animation-duration: 2s;
}
/*-----------------------------LIST BOX---------------------------------------*/
